{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="mid-panel">
    <div class="leftpanel">
        <br>
        <br>
        <div class="nav flex-column nav-pills lg-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Stock Actual</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Registrar
                Producto</button>
            <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled"
                type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">Históricos</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Solicitudes
                Aprobadas</button>
        </div>
    </div>
    <div class="rightpanel">
        <div class="tab-content" id="v-pills-tabContent">
            <div class=" tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
                tabindex="0">
                <div class="fieldset">
                    <h4>Listado de Productos</h4>
                    <div class="filter-buttons">
                        <a href="?categoria=Material de Aseo">Filtrar por Material de Aseo</a>
                        <a href="?categoria=Material de oficina">Filtrar por Material de Oficina</a>
                        <br>
                        <a href="?estado=En stock">Filtrar por Disponibildad: "En Stock"</a>
                        <a href="?estado=Agotado">Filtrar por Disponibildad: "Agotado"</a>
                    </div>
                    
                    <div class="scrollable-container">
                        <div class="table-container">
                            <div class="scrollable-table">
                                <div class=" table-row">
                                <div class="table-cell"><strong>ID Producto</strong></div>
                                <div class="table-cell"><strong>Nombre Producto</strong></div>
                                <div class="table-cell"><strong>Categoría</strong></div>
                                <div class="table-cell"><strong>Cantidad</strong></div>
                            </div>
                            {% for Producto in productos %}
                            <div class="table-row">
                                <div class="table-cell">{{ Producto.id_producto }}</div>
                                <div class="table-cell">{{ Producto.nombre_producto }}</div>
                                <div class="table-cell">{{ Producto.categoria }}</div>
                                <div class="table-cell">{{ Producto.cantidad }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            tabindex="0">
            <div class="fieldset">
                <h4>
                    Producto nuevo
                </h4>
                <div class="newprod-box">
                    <div class="product-form">
                        <form id="productForm">
                            <label for="productId">ID:</label>
                            <input type="text" id="productId" name="productId" required>

                            <label for="productName">Nombre del Producto:</label>
                            <input type="text" id="productName" name="productName" required>

                            <label for="productCategory">Categoría:</label>
                            <select id="productCategory" name="productCategory" required>
                                <option value="aseo">Aseo</option>
                                <option value="oficina">Oficina</option>
                            </select>

                            <button type="submit">Registrar Producto</button>
                        </form>
                    </div>

                    <!-- Lista de Productos Registrados                         
                    <div class="product-list">
                        <h2>Lista de Productos Registrados</h2>
                        <ul id="productList"></ul>
                    </div>
                    -->

                    <script src="{% static 'core\js\script1.js' %}"></script>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
            tabindex="0">
            <div>
                <div class="fieldset">
                    <h4>
                        Registros Históricos
                    </h4>
                    <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit assumenda quibusdam, tenetur,
                    architecto cupiditate minus
                    illum veniam pariatur asperiores ut laudantium in a iusto doloribus? Earum similique esse doloremque
                    veniam....
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
            tabindex="0">
            <div>
                <div class="fieldset">
                    <h4>
                        Lista Solicitudes
                    </h4>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam voluptas nostrum sunt
                    dolor deleniti voluptatibus
                    quidem excepturi officia ad ea, eius numquam in non eos cumque, officiis, odit natus.
                </div>
            </div>
        </div>
    </div>

</div>

</div>


{% endblock %}