<!DOCTYPE html>
<html>

<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="contenedor">
        <h2>Iniciar Sesión</h2>
        <form action="procesar_iniciar_sesion.php" method="post">
            <div class="campo">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>

            <div class="campo">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>

            <input type="submit" value="Iniciar Sesión">
        </form>
    </div>
</body>

</html>


