.sup-panel {
    width: 100%;
    background-color: rgb(140, 20, 20);
    border: solid rgb(140, 20, 20);
    height: 9vh;
}

.sup-panel>h1 {
    color: white;
}

.mid-panel {
    display: flex;
    justify-content: center;
    height: 91vh;  
    background-position: center;
    background-size: 100%;
}

.leftpanel {
    width: 20%;
    padding: 2%;
    height: 91vh;
}


.nav-link {
    background-color: transparent !important;
    /* Fondo transparente por defecto para todos los botones */
    color: black;
    /* Color de texto rojo para todos los botones */
}

.nav-link.active {
    background-color: rgb(140, 20, 20) !important;
    /* Fondo rojo cuando el botón está seleccionado */
    color: white !important;
    /* Color de texto blanco cuando el botón está seleccionado */
}

.rightpanel {
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    height: 91vh;
    padding-top: 0.3%;
}

.tab-content {
    padding-top: 3%;
    padding-bottom: 3%;
}

.fieldset {
    background-color: rgb(140, 20, 20);
    border-radius: 15px;
    border-style: solid;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 100%;
    height: 79.5vh;
    /* Evita que la tabla se desborde del contenedor al hacer zoom */
}

.fieldset>h4 {
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 250px;
    height: 45px;
    margin-top: -22px;
    margin-left: 80px;
    background: black;
    color: white;
    border-style: solid;
    border-radius: 7px;
    border-color: black;
}

.table-container {
    display: table;
    width: 100%;
    /* Aseguramos que la tabla se ajuste al contenedor */
    border-collapse: collapse;
    /* Colapsamos los bordes de la tabla */
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #000;
    font-size: x-small;
}

.scrollable-container {
    max-height: 55vh;
    overflow-y: auto;
    /* Agregamos un scroll vertical a este contenedor */
    border: solid;
    background-color: white;
}

@import url('//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iSlabo+27px&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.users-box {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.user-form, .user-list {
    width: 300px;
    height: 370px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.user-list>h2 {
    font-size: 18px;
}

.user-form>input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-form>button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-form>button:hover {
    background-color: #0056b3;
}

.user-list>ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Añade esto al final de tu archivo CSS */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

#confirmButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmButton:hover {
    background-color: #0056b3;
}

/* R_PRODUCTO*/


.newprod-box {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.product-form {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 50vh;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.product-form>form {
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
} 

.product-form>h2 {
    font-size: 20px;
    color: #007bff;
}

.product-form>label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

.product-form>input, .product-form>select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-form>button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-form>button:hover {
    background-color: #0056b3;
}

.product-list {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.product-list>h2 {
    font-size: 20px;
    color: #007bff;
}

.product-list>ul {
    list-style: none;
    padding: 0;
}

.product-list>li {
    margin: 10px 0;
}

.product-preview {
    background-color: white;
}


.newPetition-box {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

.request {
    width: 70%;
}

.analisys {
    width: 30%;
}

.solicitud-form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.solicitud-form h2 {
    font-size: 14px;
    color: #007bff;
}

.solicitud-form label {
    margin: 10px 0;
    width: 10%;
    text-align: left;
    font-size: smaller;
}

.solicitud-form input, .solicitud-form textarea, .solicitud-form select {
    width: 130PX;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.solicitud-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.solicitud-form button:hover {
    background-color: #0056b3;
}

.aprobacion {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.aprobacion h2 {
    font-size: 14px;
    color: #007bff;
}

.solicitud-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
